CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
# **/.settings/**
**/Debug/**
# **/Startup/**
# **/.project
# **/.cproject
**/*_FLASH.ld
**/*_RAM.ld